@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
    background-image: linear-gradient(-20deg, #01395E, #01395E, #3c9ddd, #01395E, #01395E);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    padding-top: 5%;
}

.customBlue{
    background-color: #01395E;
}